AI Gmail Email Classifier (n8n + Gemini)
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [-380, 600],
      "id": "gmail-trigger",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $node[\"Gmail Trigger\"].json[\"threadId\"] }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [-120, 600],
      "id": "read-email",
      "name": "Read Full Email"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI assistant that categorizes Gmail emails for automatic labeling.\n\nAnalyze the email and determine the correct Gmail label.\n\nSubject: {{ $json.Subject }}\nFrom: {{ $json.From }}\nBody: {{ $json.messages[0].snippet }}\n\nReturn ONLY valid JSON.\n\nStructure:\n\n{\n\"labels\": [],\n\"priority\": \"low | medium | high\",\n\"type\": \"lead | update | social | promotion | personal | spam\",\n\"confidence\": 0.0\n}\n\nLabels must be one of:\nCATEGORY_PERSONAL\nCATEGORY_SOCIAL\nCATEGORY_PROMOTIONS\nCATEGORY_UPDATES\nCATEGORY_FORUMS\nSPAM\n\nRules:\nReturn ONLY JSON\nNo markdown\nNo explanation\nAlways return at least one label"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [140, 600],
      "id": "ai-classifier",
      "name": "AI Email Classifier"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite"
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [140, 820],
      "id": "gemini-model",
      "name": "Gemini AI Model"
    },
    {
      "parameters": {
        "jsCode": "let raw = $json.output || $json.text || \"\";\n\nraw = raw.replace(/```json/g,\"\")\n.replace(/```/g,\"\")\n.trim();\n\nlet parsed;\n\ntry {\nparsed = JSON.parse(raw);\n} catch {\nparsed = {\nlabels: [\"CATEGORY_UPDATES\"],\npriority: \"low\",\ntype: \"update\",\nconfidence: 0.5\n};\n}\n\nreturn [{\njson: {\nlabels: parsed.labels || [\"CATEGORY_UPDATES\"],\npriority: parsed.priority || \"low\",\ntype: parsed.type || \"update\",\nconfidence: parsed.confidence || 0.5\n}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 600],
      "id": "parse-ai",
      "name": "Parse AI Response"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.threadId }}",
        "labelIds": "={{ $json.labels }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [650, 600],
      "id": "apply-label",
      "name": "Apply Gmail Labels"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Read Full Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Full Email": {
      "main": [
        [
          {
            "node": "AI Email Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini AI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Email Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Email Classifier": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Apply Gmail Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
