Automated Intelligent Inbox Manager (Powered by Gemini & n8n).json
{
  "name": "Automated Intelligent Inbox Manager (Powered by Gemini & n8n)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread"
        }
      },
      "id": "5fe3771d-8681-4196-b1d8-a2629982a78a",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [-352, -80]
    },
    {
      "parameters": {
        "jsCode": "const importantSenders = [\n\"vip@example.com\",\n\"client@example.com\"\n];\n\nconst senderList = importantSenders.map(s => s.toLowerCase());\n\nreturn [{\njson: {\nsenderList: senderList,\ncount: senderList.length\n}\n}];"
      },
      "id": "e505be47-2c8f-455c-89c5-657aa73c21a7",
      "name": "Important Senders Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-128, -80]
    },
    {
      "parameters": {
        "jsCode": "const gmailData = $node[\"Gmail Trigger\"].json;\nconst sender = gmailData.From || gmailData.from;\n\nif (!sender) {\nreturn {\njson: {\nisImportant: false,\nstatus: \"Error: Could not find email data from the Gmail Trigger.\"\n}\n};\n}\n\nconst configData = $node[\"Important Senders Config\"].json;\nconst senderList = configData.senderList || [];\n\nconst fromEmail = sender.toLowerCase();\nconst isImportant = senderList.some(s => fromEmail.includes(s.toLowerCase()));\n\nreturn {\njson: {\n...gmailData,\nisImportant: isImportant,\nmatchedSender: isImportant ? fromEmail : null\n}\n};"
      },
      "id": "a419afa7-0a87-4638-a219-30164468fddd",
      "name": "Check Sender Match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [96, -80]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isImportant }}",
              "value2": true
            }
          ]
        }
      },
      "id": "c69c9cfa-2d17-415b-9ed1-2b55c1c3bad3",
      "name": "Is Important?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [320, -80]
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $node[\"Gmail Trigger\"].json.id }}",
        "labelIds": [
          "CATEGORY_PERSONAL"
        ]
      },
      "id": "60b425b2-a8c6-4be0-91e8-bc91547d5e56",
      "name": "Star Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [544, -176]
    },
    {
      "parameters": {},
      "id": "cfc44271-0a1a-443f-bcc2-a07adc490ee9",
      "name": "No Operation (Not Important)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [544, 16]
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{$json[\"id\"]}}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [768, -176],
      "id": "4681121b-2fb1-4fdb-9b09-aac4037814d1",
      "name": "Get a message"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $node[\"Gmail Trigger\"].json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [768, 16],
      "id": "e9afa989-72d8-46c9-962b-4378a7864ec2",
      "name": "Mark a message as read"
    },
    {
      "parameters": {
        "jsCode": "let bodyData = '';\n\nif ($json.payload && $json.payload.parts && $json.payload.parts.length > 0) {\n    const textPart = $json.payload.parts.find(p => p.mimeType === 'text/plain');\n    if (textPart && textPart.body && textPart.body.data) {\n        bodyData = Buffer.from(textPart.body.data, 'base64').toString('utf-8');\n    }\n}\n\nelse if ($json.payload && $json.payload.body && $json.payload.body.data) {\n    bodyData = Buffer.from($json.payload.body.data, 'base64').toString('utf-8');\n}\n\nif (!bodyData && $json.snippet) {\n    bodyData = $json.snippet;\n}\n\nreturn [\n  {\n    json: {\n      From: $json.From,\n      Subject: $json.Subject,\n      Body: bodyData\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [992, -176],
      "id": "c28f68c5-f552-4e3a-afbb-2ac4184204b5",
      "name": "Extract Email Content"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d820fe5e-8413-4551-b820-7f7a354c8c5e",
              "name": "From",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "a84f5668-3271-41c2-856f-28c5ab1165ce",
              "name": "Subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "73efcd32-04d2-42d1-90bd-67da86d662dd",
              "name": "Body",
              "value": "={{ $json.Body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1216, -176],
      "id": "cbe23617-1b30-4af9-8947-405151a867c6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an intelligent email assistant.\n\nRead this incoming email and generate a professional reply.\n\nTONE:\n- Professional but friendly\n- Confident and helpful\n- Clear and concise\n- No unnecessary fluff\n- No emojis unless the sender uses them first\n\nRULES:\n1. If the email is a question → Answer clearly\n2. If it is a request → Confirm next steps\n3. If it is a complaint → Apologize briefly and offer a solution\n4. If it is unclear → Ask clarifying questions\n5. If it is spam or irrelevant → Set ACTION to \"No response needed\"\n\nFrom: {{$json[\"From\"]}}\nSubject: {{$json[\"Subject\"]}}\nBody: {{$json[\"Body\"]}}\n\nFORMAT YOUR OUTPUT EXACTLY LIKE THIS:\n\nSUBJECT: [Reply subject line]\n\nEMAIL BODY:\n[Write the full email response here]\n\nACTION:\n[Reply / Ask for clarification / No response needed]\n\nSign off with \"Best regards\" only — no name after it.",
        "options": {
          "systemMessage": "You are an intelligent email assistant. Write concise, professional, and friendly email replies.\n\nSTRICT RULES:\n- NEVER use placeholder text like [Your Name], [Company], [Team], or any text in square brackets\n- NEVER promise actions or commitments you cannot fulfill\n- Sign off with just \"Best regards\" — nothing after it\n- Keep replies concise and helpful\n- Output must follow the exact SUBJECT / EMAIL BODY / ACTION format"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1440, -176],
      "id": "5a428096-a7a2-499e-a79e-f9dc21674ea2",
      "name": "AI Agent",
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1520, 48],
      "id": "e4813076-8f08-4b09-86d4-11d5357bc3f8",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// AI Agent failed — skip reply\nif (input.error) {\n  return [{\n    json: {\n      response_subject: \"\",\n      response_body: \"\",\n      response_action: \"No response needed\",\n      error: input.error.message || \"AI agent failed\"\n    }\n  }];\n}\n\nconst text = input.output || '';\n\nconst subjectMatch = text.match(/SUBJECT:\\s*(.*)/);\nconst bodyMatch = text.match(/EMAIL BODY:\\s*([\\s\\S]*?)\\nACTION:/);\nconst actionMatch = text.match(/ACTION:\\s*(.*)/);\n\nreturn [{\n  json: {\n    response_subject: subjectMatch ? subjectMatch[1].trim() : \"\",\n    response_body: bodyMatch ? bodyMatch[1].trim() : \"\",\n    response_action: actionMatch ? actionMatch[1].trim() : \"No response needed\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, -176],
      "id": "21491e97-c130-47a8-ae86-76a7f1306468",
      "name": "Parse AI Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-action-001",
              "leftValue": "={{ $json.response_action }}",
              "rightValue": "No response needed",
              "operator": { "type": "string", "operation": "notEquals" }
            },
            {
              "id": "cond-action-002",
              "leftValue": "={{ $json.response_body }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1904, -176],
      "id": "f1a2b3c4-d5e6-7890-abcd-ef1234567890",
      "name": "Should Send?"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "reply",
        "messageId": "={{ $node['Get a message'].json.id }}",
        "message": "={{ $json.response_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [2128, -256],
      "id": "0766e3d4-a3a8-415e-8c8b-c3271425d984",
      "name": "Reply via Gmail"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2128, -80],
      "id": "a1b2c3d4-e5f6-7890-abcd-skip12345678",
      "name": "Skip - No Reply"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "removeLabels",
        "threadId": "={{ $node[\"Gmail Trigger\"].json.threadId }}",
        "labelIds": [
          "UNREAD",
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [2352, -256],
      "id": "a235f8f9-b851-4bb3-a534-d8c24f7babae",
      "name": "Remove label from thread"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Important Senders Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Important Senders Config": {
      "main": [
        [
          {
            "node": "Check Sender Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sender Match": {
      "main": [
        [
          {
            "node": "Is Important?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Important?": {
      "main": [
        [
          {
            "node": "Star Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation (Not Important)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Star Email": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation (Not Important)": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Extract Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Content": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Should Send?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send?": {
      "main": [
        [
          {
            "node": "Reply via Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip - No Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply via Gmail": {
      "main": [
        [
          {
            "node": "Remove label from thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "tags": [
    { "name": "AI Automation" },
    { "name": "Email" },
    { "name": "Gemini" }
  ]
}
