Automated Intelligent Inbox Manager (Powered by Gemini & n8n).json
{
  "name": "AI Smart Email Auto-Responder (Gemini Agent)",
  "nodes": [
    {
      "id": "node-001",
      "name": "New Email",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        }
      }
    },
    {
      "id": "node-002",
      "name": "AI Agent - Triage",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [440, 300],
      "continueOnFail": true,
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this email and decide if it needs an automated reply.\n\nFrom: {{ $json.from || $json.From }}\nSubject: {{ $json.subject || $json.Subject }}\nBody: {{ $json.text || $json.snippet || '(no body)' }}\n\nRespond ONLY with this JSON (no markdown, no explanation):\n{\"should_reply\": boolean, \"type\": \"customer_inquiry|support_request|faq|client_reply|spam|newsletter|automated|other\", \"tone\": \"professional|friendly|formal\", \"sentiment\": \"positive|neutral|negative|urgent\", \"confidence\": 0.0-1.0, \"reason\": \"brief reason\"}",
        "options": {
          "systemMessage": "You are an AI email triage assistant. Decide if emails need replies.\n\nReply to: customer inquiries, support requests, client follow-ups, FAQ questions.\nDo NOT reply to: newsletters, automated/noreply emails, spam, marketing, emails from noreply addresses, or emails sent by automated systems.\n\nAlways respond with valid JSON only. No markdown. No code blocks."
        }
      }
    },
    {
      "id": "node-003",
      "name": "Gemini Chat Model 1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [288, 508],
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      }
    },
    {
      "id": "node-004",
      "name": "Parse Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst email = $node['New Email'].json;\n\n// AI Agent failed — flag for manual review\nif (input.error) {\n  return [{\n    json: {\n      should_reply: false,\n      type: 'error',\n      tone: 'professional',\n      confidence: 0,\n      reason: 'AI triage failed: ' + (input.error.message || 'Unknown error'),\n      needs_manual_review: true,\n      email_from: email.from,\n      email_subject: email.subject,\n      email_body: email.text || email.snippet || '',\n      email_message_id: email.id,\n      email_thread_id: email.threadId\n    }\n  }];\n}\n\n// Strip markdown code blocks (Gemini sometimes wraps in ```json)\nconst cleaned = (input.output || '').replace(/```json?\\n?/gi, '').replace(/```/g, '').trim();\n\nlet decision;\ntry {\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (!match) throw new Error('No JSON in agent output');\n  decision = JSON.parse(match[0]);\n} catch (e) {\n  decision = { should_reply: false, type: 'parse_error', tone: 'professional', confidence: 0, reason: 'Parse error: ' + e.message };\n}\n\nreturn [{\n  json: {\n    should_reply: decision.should_reply === true,\n    type: decision.type || 'other',\n    tone: decision.tone || 'professional',\n    confidence: parseFloat(decision.confidence) || 0,\n    reason: decision.reason || '',\n    needs_manual_review: false,\n    sentiment: decision.sentiment || 'neutral',\n    email_from: email.from,\n    email_subject: email.subject,\n    email_body: email.text || email.snippet || '',\n    email_message_id: email.id,\n    email_thread_id: email.threadId\n  }\n}];"
      }
    },
    {
      "id": "node-005",
      "name": "Should Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.should_reply }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            },
            {
              "id": "cond-002",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": 0.7,
              "operator": { "type": "number", "operation": "gte" }
            },
            {
              "id": "cond-003",
              "leftValue": "={{ $json.type }}",
              "rightValue": "spam",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-006",
      "name": "AI Agent - Write Reply",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1160, 160],
      "continueOnFail": true,
      "parameters": {
        "promptType": "define",
        "text": "=Write a {{ $json.tone }} email reply in under 120 words.\n\nSentiment detected: {{ $json.sentiment }}\nTone adjustment rules:\n- If sentiment is \"negative\" → respond calmly and apologetically, acknowledge their frustration\n- If sentiment is \"urgent\" → acknowledge the urgency directly and be concise\n- If sentiment is \"positive\" → match their energy, be warm\n- If sentiment is \"neutral\" → stay professional and helpful\n\nOriginal Email:\nFrom: {{ $json.email_from }}\nSubject: {{ $json.email_subject }}\nMessage: {{ $json.email_body }}\n\nWrite ONLY the reply body. No subject line. No headers. No placeholders.",
        "options": {
          "systemMessage": "You are an AI email writer. Write concise, helpful email replies strictly under 120 words. Match the requested tone and sentiment adjustment exactly. Never include subject lines, email headers, or placeholder text like [Your Name]. Never promise actions or commitments. End with a natural sign-off."
        }
      }
    },
    {
      "id": "node-007",
      "name": "Gemini Chat Model 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1008, 368],
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      }
    },
    {
      "id": "node-008",
      "name": "Reply Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1400, 160],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-reply-001",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-009",
      "name": "Send Reply via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1640, 80],
      "parameters": {
        "resource": "message",
        "operation": "reply",
        "messageId": "={{ $node['Parse Decision'].json.email_message_id }}",
        "threadId": "={{ $node['Parse Decision'].json.email_thread_id }}",
        "message": "={{ $json.output || $json.text }}",
        "options": {
          "sendReply": true
        }
      }
    },
    {
      "id": "node-010",
      "name": "Label - Needs Manual Review",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1640, 320],
      "parameters": {
        "resource": "message",
        "operation": "addLabels",
        "messageId": "={{ $node['New Email'].json.id }}",
        "labelIds": {
          "labelIds": []
        }
      }
    },
    {
      "id": "node-011",
      "name": "Check Manual Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1160, 460],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-manual-001",
              "leftValue": "={{ $json.needs_manual_review }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-012",
      "name": "Skip - No Reply Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1400, 560],
      "parameters": {}
    }
  ],
  "connections": {
    "New Email": {
      "main": [[{ "node": "AI Agent - Triage", "type": "main", "index": 0 }]]
    },
    "Gemini Chat Model 1": {
      "ai_languageModel": [[{ "node": "AI Agent - Triage", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Agent - Triage": {
      "main": [[{ "node": "Parse Decision", "type": "main", "index": 0 }]]
    },
    "Parse Decision": {
      "main": [[{ "node": "Should Reply?", "type": "main", "index": 0 }]]
    },
    "Should Reply?": {
      "main": [
        [{ "node": "AI Agent - Write Reply", "type": "main", "index": 0 }],
        [{ "node": "Check Manual Review?", "type": "main", "index": 0 }]
      ]
    },
    "Gemini Chat Model 2": {
      "ai_languageModel": [[{ "node": "AI Agent - Write Reply", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Agent - Write Reply": {
      "main": [[{ "node": "Reply Succeeded?", "type": "main", "index": 0 }]]
    },
    "Reply Succeeded?": {
      "main": [
        [{ "node": "Send Reply via Gmail", "type": "main", "index": 0 }],
        [{ "node": "Label - Needs Manual Review", "type": "main", "index": 0 }]
      ]
    },
    "Check Manual Review?": {
      "main": [
        [{ "node": "Label - Needs Manual Review", "type": "main", "index": 0 }],
        [{ "node": "Skip - No Reply Needed", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "tags": [
    { "name": "AI Automation" },
    { "name": "Email" },
    { "name": "Gemini" }
  ]
}
